.counterItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 200px;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}
.counterValue {
    align-items: center;
    width: 100px;
    height: 50px;
    border-radius: 8px;
    padding: 20px;
}
.counterValueText {
    font-size: 30px;
}
.errorMax {
    background-color: darkgray;
}